<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
  <% @books.each do |book| %>
    <%= render partial: "books/book_card", locals: { book: book, full: true } %>
  <% end %>
</div>

<%= render "books/index/show_more_button" if @pagy.next %>
