<div class="flex space-x-6 max-w-3xl mx-auto bg-white p-6 rounded-xl shadow mt-8">
  <!-- Sidebar -->
  <%= render 'profiles/sidebar' %>

  <!-- Main Profile Content -->
  <div class="flex-1">
    <div class="max-w-xl mx-auto bg-white ">
      <h3 class="text-xl font-semibold text-gray-800 mb-4">Delete my account</h3>

      <div class=" text-gray-600">
        Unhappy? <%= button_to "Delete my account", profile_path, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "text-red-600 hover:underline" %>
      </div>
    </div>
  </div>
</div>
