<% if booking = current_user&.bookings&.find_by(book: @book) %>
  <div class="mt-2 px-2 py-1 text-xs rounded-full font-semibold max-w-fit <%= booking_badge_color(booking.status) %>">
    <%= booking.status.titleize %>
  </div>
<% elsif current_user&.user? %>
  <%= button_to "Reserve", book_bookings_path(@book), method: :post, class: "px-4 py-2 text-white bg-indigo-600 rounded-md hover:bg-indigo-700 text-sm font-medium" %>
<% elsif current_user.blank? %>
  <%= link_to "Login to Reserve", new_user_session_path, class: "text-indigo-600 hover:underline font-medium" %>
<% end %>
